
html{
   font-size: 16px;
}
.visually-hidden{
  display: none;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  max-width: 1920px;
}
.ba-header{
  background-image: url('img/hero-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ba-hero{
  max-width: 47%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 5%;
}
.ba-title{
  font-size: 3.375rem;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  letter-spacing: .15em;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: .5em;
}
.ba-slogan{
  font-size: 0.9375rem;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.933;
  letter-spacing: .05em;
  text-align: center;
  width: 570px;
  height: 70px;
  margin: 0;
  margin-bottom: 16em;
}
.about{
  padding-top: 11em;
  padding-bottom: 11em;
}
.about-us{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  padding: 30px;
  position: relative;
}
.about-title{
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
  color: rgb(60, 60, 60);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: .1em;
  text-align: center;
  margin: 0;
  width: 420px;
  position: absolute;
  top: -25px;
  background-color: white;
}
.about-text{
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: rgb(60, 60, 60);
  line-height: 1.5;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.025em;
  width: 66%;
  margin: 0;
  margin-top: 30px;
}
.about-text + .about-text{
  width: 57%;
}
.serv{
  padding-top: 8.75em;
  padding-bottom: 8.75em;
  background-image: url(img/services.png);
  background-size: cover;
}
.services{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 30px;
  position: relative;
}
.services-title{
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: .1em;
  text-align: center;
  position: absolute;
  top: -25px;
  background-color: transparent;
  margin: 0;
  width: 420px;
}
.services-title:before{
  content: '';
  width: 240px;
  height: 2px;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: -57%;
  top: 25px;
}
.services-title:after{
  content: '';
  width: 240px;
  height: 2px;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  right: -57%;
  top: 25px;
}
.services-text{
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.618;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.025em;
  width: 55%;
  margin: 0;
  margin-top: 30px;
}
.do{
  padding-top: 8.75em;
  padding-bottom: 8.75em;
}
.do-container{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  position: relative;
  padding-top: 100px;
  margin-bottom: 7em;
}
.do-title{
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
  color: rgb(60, 60, 60);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  width: 420px;
  position: absolute;
  top: -25px;
  background-color: white;
}
.tasks{
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  color: rgb(60, 60, 60);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 35px;
}
.do-text{
  font-size: 1rem;
  font-family: "Lato";
  color: rgb(60, 60, 60);
  line-height: 1.849;
  text-align: center;
  font-weight: lighter;
  width: 549px;
  margin: 0;
  margin-bottom: 100px;
}
.row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.col-1-2{
  width: 42%;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
}
.col-1-4{
  width: 29%;
  overflow: hidden;
  position: relative;
}
.title-img{
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
img:hover{
    transform: scale(1.3);
    transition: 1.5s;
}
.logo-img{
  transform: rotate(360deg);
  transition: all 1.5s ease-in-out;
  }
.container{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  position: relative;
}
.contact-title{
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
  color: rgb(60, 60, 60);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  width: 420px;
  position: absolute;
  top: -25px;
  background-color: white;
}
.contact-text{
  font-size: 1rem;
  font-family: "Lato";
  color: rgb(60, 60, 60);
  line-height: 1.849;
  text-align: center;
  font-weight: lighter;
  width: 540px;
  margin: 0;
  padding-top: 70px; 
}
.contact-btn{
  border-width: 2px;
  border-color: rgb(60, 60, 60);
  border-style: solid;
  background-color: rgb(60, 60, 60);
  width: 391px;
  height: 54px;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 40px 0;
}
.copyright{
  display: flex;
  justify-content: center;
  margin: 5em 0;
}
.copy-text{
  padding-left: 30px;
}
@media screen and (max-width: 1600px){
  html{
    font-size: 12px;
  }
  
}